body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #e22db2, #4a00e0);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

header {
    background-color: black;
    font-size: 2vw;
}

nav {
    background-color: black;
    font-size: 2vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

h1 {
    margin-top: 150px;
    font-size: 7vw;
}

h2 {
    font-size: 3vw;
}

p {
    font-size: 2vw;
}

p a {
    margin-right: 2vw;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: black;
}

header a:hover {
    color: rgb(60, 60, 60);
    text-decoration: none;
}

.inactive {
    color: grey;
}
