body {
    background-image: linear-gradient(to right, #e22dc7, #4a00e0);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

header {
    margin-top: 50px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.center {
    margin: auto;
    width: 50%;
}

header a:hover {
    color: black;
    text-decoration: none;
}
