@media  (max-width: 800px) {

    :root {
        font-size: 4px;
    }
}

@media  (min-width: 800px) {

    :root {
        font-size: 16px;
    }
}

/* NAV BAR */

nav {
    background-color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(60, 60, 60);
}

.inactive {
    color: grey;
}

/* BODY */

body {
    background-image: linear-gradient(to right, #e22db2, #4a00e0);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.main {
    margin: 5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

p a {
    padding: 1rem;
}

img {
    width: 5rem;
    height: 5rem;
}

/* FOOTER */

footer {
    background-color: black;
    margin-top: auto;
    font-size: 0.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}